# .htaccess cache expiration for static content here
#<IfModule mod_expires.c>
#          <FilesMatch "\.(js)$">
#                      ExpiresActive On
#                      ExpiresDefault "access plus 1 week"
#          </FilesMatch>
#</IfModule>