<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset name="permissions" description="JCONFIG_PERMISSIONS_DESC"
              label="JCONFIG_PERMISSIONS_LABEL"
            >
        <field name="rules" type="rules"
               component="com_talleres"
               filter="rules"
               validate="rules"
               label="JCONFIG_PERMISSIONS_LABEL"
               section="component" />
    </fieldset>
    <!-- Default component global rules must be here -->


    <fieldset
            name="paypal"
            label="COM_TALLERES_PAYPAL_TITLE"
            description="COM_TALLERES_PAYPAL_CONFIG_DESC">

        <field
            name="paypal_business" type="text"
            label="COM_TALLERES_PAYPAL_SELLER_ACCOUNT"
            description="COM_TALLERES_PAYPAL_SELLER_ACCOUNT_DESC" size="50"
        />

        <field
                name="paypal_mode" type="list"
                label="COM_TALLERES_PAYPAL_MODE"
                description="COM_TALLERES_PAYPAL_MODE_DESC">
            <option value="sandbox">COM_TALLERES_PAYPAL_MODE_SANDBOX</option>
            <option value="pro">COM_TALLERES_PAYPAL_MODE_PRODUCTION</option>
        </field>

        <field
                name="paypal_sandbox_url" type="text"
                label="COM_TALLERES_PAYPAL_SANDBOX_URL"
                 size="100"
        />

        <field
                name="paypal_production_url" type="text"
                label="COM_TALLERES_PAYPAL_PRODUCTION_URL"
                size="100"
        />

        <field
                name="paypal_return_url" type="text"
                label="COM_TALLERES_PAYPAL_RETURN_URL"
                size="100"
        />

        <field
                name="paypal_cancel_url" type="text"
                label="COM_TALLERES_PAYPAL_CANCEL_URL"
                size="100"
                />

        <field
                name="paypal_notify_url" type="text"
                label="COM_TALLERES_PAYPAL_NOTIFY_URL"
                size="100"
                />

    </fieldset>
</config>

