<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title></title>
</head>
<body>
<table style="background-color: #FAFAFA; width: 100%; padding: 0 50px; color: #666666; font-family: Verdana,Arial,Helvetica,Sans; font-size: 12px;">
    <tr>
        <td>
            <a href="[baseUrl]" target="_blank">
                <img src="[baseUrl]images/logo.png" style="margin: 10px 0"/>
            </a>
        </td>
    </tr>
    <tr>
        <td style="padding: 30px; background-color: #FFFFFF; border: 1px solid #DDDDDD; border-radius: 20px 20px 20px 20px; box-shadow: 0 0 5px #D6D6D6;">
            Estimado <strong>[nombre]</strong>, participante del taller <strong>Banda G&aacute;strica Virtual</strong>,
            <br>
            <br>
            Queremos confirmar su asistencia al taller de este [fecha_taller] a dictarse en [lugar].
            <br>
            <br>
            Tome en cuenta las siguientes recomendaciones:
            <br>
            <ul>
                <li>Horario: El taller tendr&aacute; un horario de [hora_inicio] a [hora_fin], importante llegar temprano entre una hora y media hora antes, esto para cumplir con uno de los protocolos del tratamiento donde se pesar&aacute;n y tomaremos fotograf&iacute;as.
                </li>
                <li>Desayuno: El paciente o participante deber&aacute; asistir desayunado de forma ligera, en los alrededores del lugar no hay opciones de comida a la hora de entrada y para la realizaci&oacute;n del tratamiento es necesario no quedar muy satisfecho.
                </li>
                <li>Ropa: La vestimenta debe ser muy c&oacute;moda y fresca, tambi&eacute;n es recomendable llevar abrigo, en caso de que la temperatura les parezca muy fr&iacute;a.
                </li>
            </ul>

            Es opcional llevar una almohada peque&ntilde;a o coj&iacute;n para utilizar en el momento de la hipnosis.
            <br>
            <br>

            <strong>Llevar el original o copia del comprobante de pago, esto es muy importante y se le solicitar&aacute; el mismo en el momento de la entrega del material.</strong>
            <!-- Problema begin -->
            <br><br>
            <br>
            ¡Gracias!
            <br>
            <strong>Granya Gonz&aacute;lez</strong>
            <br><br>
            <!-- Problema end -->
            (Para m&aacute;s informaci&oacute;n, puede contactarnos <a target="_blank" style="color: #666666;" href="[baseUrl]contacto">aqu&iacute;</a>).
        </td>
    </tr>
    <tr><td style="height: 30px;"></td></tr>
    <tr>
        <td style="border-radius: 20px 20px 20px 20px; border-bottom-left-radius: 0; border-bottom-right-radius: 0; background-color: #7D7D7D; padding: 20px; color: #FFFFFF; text-align: center;">
            Granya Gonz&aacute;lez
            <br>
            Copyright 2013 - Todos los derechos reservados
        </td>
    </tr>
</table>

</body>
</html>